.index-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 100vh;
  color: white;
  font-family: inherit;
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
}

.index-center-photo {
  flex: 1;
  text-align: center;
  padding-top: 100px;
}

.index-center-photo img {
  max-width: 80%;
  height: 70%;
  border-radius: 10%;
}

.index-center-text {
  flex: 1;
  text-align: center;
  margin-right: 100px;
}

.index-center-text-name {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 500;
  letter-spacing: 4px;
}

.index-center-text-job-title {
  font-size: 20px;
  margin-bottom: 20px;
  letter-spacing: 3px;
  font-weight: 500;
}

.index-center-text-skills-list {
  list-style-type: none;
  font-size: 14px;
  padding: 0;
  text-align: center;
  letter-spacing: 2px;
}

.index-center-text-skills-list-item {
  margin-bottom: 10px;
}

.list-item-highlight {
  font-weight: 500;
}

@media only screen and (max-width: 1024px) {
  .index-center {
    flex-direction: column-reverse;
    height: 100%;
    text-shadow: none;
  }

  .index-center-photo {
    padding-top: 10px;
  }

  .index-center-photo img {
    max-width: 100%;
    height: auto;
    border-radius: 20%;
  }

  .index-center-text {
    margin-right: 0;
    margin-top: 70px;
  }

  .index-center-text-name {
    font-size: 20px;
    letter-spacing: 2px;
  }

  .index-center-text-job-title {
    font-size: 18px;
    letter-spacing: 2px;
  }

  .index-center-text-skills-list {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
  }

  .index-center-text-skills-list-item {
    margin-bottom: 15px;
  }
}
