@media only screen and (max-width: 768px) {
  /* Global styles */

  /* Sticky menu */

  .sticky-menu-mid {
    align-items: center;
    justify-content: flex-end;
    margin-left: 20px;
    gap: 50px;
  }

  .sticky-menu-link {
    text-align: center;
  }

  /* Homepage center index*/
  .homepage-centre {
    flex-direction: column;
    align-items: center;
    height: auto;
    width: calc(100% - 40px);
    padding: 20px;
    margin-top: 200px;
    box-sizing: border-box;
  }

  .homepage-selfie {
    order: 2;
    margin-top: 20px;
    margin-left: 0;
    opacity: 1;
    margin-bottom: 50px;
  }

  .homepage-content {
    order: 1;
    margin-bottom: 20px;
    margin-right: 0;
    text-align: center;
  }

  .homepage-name {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgb(240, 224, 224);
  }

  .homepage-job-position {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgb(240, 224, 224);
  }

  .homepage-expl {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    font-weight: 400;
  }

  .homepage-expl-par {
    opacity: 0.8;
    text-shadow: 2px 2px 4px rgb(240, 224, 224);
  }

  /* Contact form */

  .form-item-input-message {
    height: 200px;
  }


  /* cv homepage centre */

  .cv-homepage-centre {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .cv-introduction,
  .cv-introduction-expl {
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 0%;
    padding-right: 0;
  }

  .cv-centre-container {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
  }

  .cv-page-expl-curriculum,
  .list-curriculum,
  .list-curriculum-title,
  .list-curriculum-expl,
  .cv-page-expl-portfolio,
  .list-portfolio
  {
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 0%;
    padding-right: 0;
    text-align: center;
  }

  .list-curriculum-expl{
    margin-top: 10px;
    margin-bottom: 20px;
  }

    .cv-page-icons-img,
    .cv-page-icons {
        margin-bottom: 0;
        padding-bottom: 0;
        margin-top: 20px;
    }


 
    .list-portfolio {
        margin-top: 20px;
    }

    .curriculum-container {
        order: 1;
    }
}
