@media only screen and (max-width: 800px) {
  /* Global styles */

  /* Sticky menu */

  .sticky-menu {
    height: 45px;
    margin-bottom: 10px;
  }


  .sticky-menu-mid {
    align-items: center;
    justify-content: flex-end;
    margin-left: 20px;
    gap: 50px;
  }

  .sticky-menu-link {
    text-align: center;
  }

  /* Homepage center index*/
  .homepage-centre {
    flex-direction: column;
    align-items: center;
    height: auto;
    width: calc(100% - 40px);
    padding: 20px;
    padding-top: 60px; 
    box-sizing: border-box;
    top: 0; 
    left: 50%;
    transform: translateX(-50%); 
  }

  .homepage-selfie {
    order: 2;
    margin-top: 20px;
    margin-left: 0;
    opacity: 1;
    margin-bottom: 50px;
  }

  .homepage-content {
    order: 1;
    margin-bottom: 20px;
    margin-right: 0;
    text-align: center;
    width: 100%;
  }

  .homepage-name,
  .homepage-job-position,
  .homepage-expl {
    width: 100%;
    text-align: center;
  }

  .homepage-name {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgb(240, 224, 224);
  }

  .homepage-job-position {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgb(240, 224, 224);
  }

  .homepage-expl {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    font-weight: 400;
  }

  .homepage-expl-par {
    opacity: 0.8;
    text-shadow: 2px 2px 4px rgb(240, 224, 224);
  }

  .homepage-expl-par {
    opacity: 0.8;
    text-shadow: 2px 2px 4px rgb(240, 224, 224);
  }

  /* Contact form */

  .form-item-input-message {
    height: 200px;
  }


  /* cv homepage centre */

  .cv-homepage-centre {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .cv-introduction,
  .cv-introduction-expl {
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 0%;
    padding-right: 0;
  }

  .cv-centre-container {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
  }

  .cv-page-expl-curriculum,
  .list-curriculum,
  .list-curriculum-title,
  .list-curriculum-expl,
  .cv-page-expl-portfolio,
  .list-portfolio
  {
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 0%;
    padding-right: 0;
    text-align: center;
  }

  .list-curriculum-expl{
    margin-top: 10px;
    margin-bottom: 20px;
  }

    .cv-page-icons-img,
    .cv-page-icons {
        margin-bottom: 0;
        padding-bottom: 0;
        margin-top: 20px;
    }


 
    .list-portfolio {
        margin-top: 20px;
    }

    .curriculum-container {
        order: 1;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1250px) {
  .homepage-name,
  .homepage-job-position {
    text-align: center;
    margin: 0 auto; 
    width: 50%; 
  }

  .homepage-name {
    font-size: 29px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgb(240, 224, 224);
  }

  .homepage-job-position {
    font-size: 26px;
    font-style: italic;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgb(240, 224, 224);
  }
}

@media only screen and (max-width: 800px) and (min-height: 900px) {
  /* Homepage center index */
  .homepage-centre {
    padding-top: 200px;
  }

  .homepage-centre-contact {
    padding-top: 200px;
  }
}

@media only screen and (max-height: 900px) {
  .homepage-centre-contact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    max-width: 600px;
    z-index: 1;
    text-align: center;
    overflow-y: auto; 
    height: calc(100vh - 120px);
    top: calc(50% + 10px); 
    bottom: calc(50% + 10px); 
  }
}

@media only screen and (max-height: 640px) {
  .homepage-centre-contact {
    margin-top: calc(50vh + 50px); 
  }
}


