@media only screen and (max-width: 768px) {
  /* Global styles */

  /* Sticky menu */

  .sticky-menu-mid {
    align-items: center;
  }

  .sticky-menu-link {
    text-align: center;
  }

  /* Homepage center index*/
  .homepage-centre {
    flex-direction: column;
    align-items: center;
    height: auto;
    width: calc(100% - 40px);
    padding: 20px;
    margin-top: 180px;
    box-sizing: border-box;
  }

  .homepage-selfie {
    order: 2;
    margin-top: 20px;
    margin-left: 0;
    opacity: 1;
    margin-bottom: 50px;
  }

  .homepage-content {
    order: 1;
    margin-bottom: 20px;
    margin-right: 0;
    text-align: center;
  }

  .homepage-name {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgb(240, 224, 224);
  }

  .homepage-job-position {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgb(240, 224, 224);
  }

  .homepage-expl {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    font-weight: 400;
  }

  .homepage-expl-par {
    opacity: 0.8;
    text-shadow: 2px 2px 4px rgb(240, 224, 224);
  }

  /* Contact form */
  .homepage-centre-contact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    max-width: 600px;
    z-index: 1;
    text-align: center;
  }

  .homepage-centre-contact h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgb(240, 224, 224);
    font-weight: 400;
    text-transform: uppercase;
  }

  #contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  #contact-form label {
    text-align: left;
  }

  #contact-form input,
  #contact-form textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    resize: none;
    outline: none;
    box-shadow: 0 0 5px rgb(240, 224, 224);
  }

  #contact-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    opacity: 0.8;
    box-shadow: 0 0 5px rgb(240, 224, 224);
    margin-top: 20px;
    width: 50%;
  }

  label {
    font-size: 20px;
    text-shadow: 0 0 5px rgb(240, 224, 224);
  }

  .form-item-input {
    margin-top: 10px;
  }

  .submit-container:hover {
    opacity: 0.7;
  }

  /* cv homepage centre */

  .cv-homepage-centre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
  }

  .cv-introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 95px;
    padding-left: 150px;
    padding-right: 150px;
  }

  .cv-introduction:hover {
    opacity: 0.7;
  }

  .cv-introduction-expl {
    text-shadow: 0 0 5px rgb(240, 224, 224);
  }

  .cv-centre-container {
    display: flex;
    padding-top: 40px;
  }

  .curriculum-container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .portfolio-container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .cv-page-icons {
    display: flex;
    justify-content: center;
  }

  .cv-page-icons-img {
    height: 100px;
  }

  .cv-page-expl-curriculum {
    padding-left: 10px;
    padding-right: 10px;
  }

  .cv-page-expl-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
  }

  .cv-page-expl-portfolio-link {
    font-size: x-large;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0 0 5px rgb(240, 224, 224);
    margin-top: 40px;
  }

  .list-portfolio {
    margin-top: 50px;
    text-shadow: 1px 1px 2px rgb(240, 224, 224);
  }

  .list-curriculum {
    margin-top: 15px;
    margin-left: 50px;
  }

  .list-curriculum-title {
    font-weight: 600;
    margin-top: 30px;
  }

  .list-curriculum-expl {
    font-weight: 300;
    margin-top: 0;
    text-shadow: 1px 1px 2px rgb(240, 224, 224);
  }

  .cv-page-expl-portfolio-link:hover {
    opacity: 0.7;
  }
}
