.contact-me-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
  color: white;
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
}

.contact-me-center-text {
  text-align: center;
  width: 80%;
  padding-bottom: 50px;
}

.contact-me-center-text-info {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 600px;
}

label {
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
  width: 100%;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

textarea {
  resize: none;
}

input[type="submit"] {
  color: black;
  border: none;
  padding: 15px 30px;
  font-family: inherit;
  font-size: 16px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 500;
  display: block;
  margin-bottom: 0px;
  margin-top: 25px;
  background-color: #f0f0f0;
  transform: scale(1.05);
}

input[type="submit"]:hover {
  background-color: #e0e0e0;
}
