.contact-me-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
  font-family: "Montserrat", sans-serif;
  margin-top: 80px;
  padding-bottom: 50px;
  height: calc(100vh - 130px);
  box-sizing: border-box;
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
}

.contact-me-center-text {
  text-align: center;
  width: 80%;
  padding-bottom: 50px;
}

.google-form {
  width: 100%;
  max-width: 600px;
  border: none;
  height: 100%;
}
