.contact-me-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centra verticalmente */
  width: 100%;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin-top: 80px; /* Considera la barra di navigazione sticky */
  padding-bottom: 50px; /* Spazio inferiore per evitare che il footer sovrapponga il contenuto */
  height: calc(100vh - 130px); /* Altezza - barra di navigazione - spazio inferiore */
  box-sizing: border-box; /* Evita che il padding e il bordo aumentino l'altezza */
}

/* Stili per il testo all'interno del contenitore centrale */
.contact-me-center-text {
  text-align: center;
  width: 80%;
  padding-bottom: 50px;
}

/* Stili per l'iframe del Google Form */
.google-form {
  width: 100%;
  max-width: 600px; /* Imposta la larghezza massima dell'iframe */
  border: none; /* Rimuove il bordo dell'iframe */
  height: 100%; /* Altezza del 100% rispetto al contenitore genitore */
}