.custom-navbar {
  padding: 10px 20px;
  box-shadow: 0px 4px 8px rgba(201, 198, 198, 0.993);
  background-color: black;
}

.custom-navbar .navbar-brand img {
  height: 30px; 
}

.custom-navbar .navbar-nav .nav-link {
  color: #fff5f5;
  font-weight: 500;
}

.custom-navbar .navbar-nav .nav-link:hover {
  color: #555;
}

.navbar-toggler-icon {
  width: 45px;
  height: 45px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent; 
}

@media (min-width: 1024px) {
  .navbar-nav {
    margin-left: auto;
    margin-right: auto;
  }
}
